name: CI + CD Release

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  # CI jobs
  build_backend:
    runs-on: ubuntu-latest
    outputs:
      artifact_path: ./backend/publish
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Publish backend
        run: dotnet publish -c Release --property:PublishDir=publish
        working-directory: ./backend

      - name: Upload backend artifact
        uses: actions/upload-artifact@v4
        with:
          name: backend-publish
          path: ./backend/**/publish

  build_frontend:
    runs-on: ubuntu-latest
    needs: []
    outputs:
      artifact_path: ./frontend/dist
    steps:
      - uses: actions/checkout@v4

      - name: Build frontend
        run: npm install && npm run build
        working-directory: ./frontend

      - name: Upload frontend artifact
        uses: actions/upload-artifact@v4
        with:
          name: frontend-build
          path: ./frontend/dist

  # CD jobs
  deploy_infrastructure:
    runs-on: ubuntu-latest
    needs: [build_backend, build_frontend]
    environment: production

    outputs:
      appServiceName: ${{ steps.bicep_deploy.outputs.appServiceName }}
      staticWebAppName: ${{ steps.bicep_deploy.outputs.staticWebAppName }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Login to Azure 
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        enable-AzPSSession: true 

    - name: Create resource group if not exists      
      run: |
        az group show --name ${{ env.AZURE_RG_NAME }} ||
        az group create --name ${{ env.AZURE_RG_NAME }} --location ${{ secrets.AZURE_REGION }}

    - name: Deploy bicep
      id: bicep_deploy
      uses: azure/arm-deploy@v2
      with:
        subscriptionId: ${{ secrets.AZURE_SUBSCRIPTION }}
        region: ${{ secrets.AZURE_REGION }}
        template: ./infrastructure/main.bicep
        parameters: project=${{ vars.PROJECT_NAME }} location=${{ secrets.AZURE_REGION }} swaLocation=${{ secrets.AZURE_SWA_REGION }} identifier=${{ vars.AZURE_RESOURCE_IDENTIFIER }}
        resourceGroupName: ${{ env.AZURE_RG_NAME }}
        
  deploy_backend:
    runs-on: ubuntu-latest
    needs: deploy_infrastructure
    environment: production
    steps:
      - uses: actions/checkout@v4

      - name: Download backend artifact
        uses: actions/download-artifact@v4
        with:
          name: backend-publish
          path: ./backend/publish

      - name: Deploy backend to App Service
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ steps.deploy_infrastructure.outputs.appServiceName }}
          package: ./backend/publish

  deploy_frontend:
    runs-on: ubuntu-latest
    needs: deploy_infrastructure
    environment: production
    steps:
      - uses: actions/checkout@v4

      - name: Download frontend artifact
        uses: actions/download-artifact@v4
        with:
          name: frontend-build
          path: ./frontend/dist

      - name: Deploy frontend to Static Web App
        uses: azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_SWA_API_TOKEN }}
          app_location: ./frontend/dist
          skip_app_build: true
          skip_api_build: true
