name: CI - Release

on:
  push:
    tags:
      - '[0-9]*.[0-9]*.[0-9]*'
  workflow_dispatch:

jobs:
  build_backend:
    runs-on: ubuntu-latest
    environment: production

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET SDK 9.0.x
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'

    - name: Publish backend
      run: dotnet publish -c Release --property:PublishDir=publish
      working-directory: ./backend

    - name: Upload backend artifact
      uses: actions/upload-artifact@v4
      with:
        name: backend-publish
        path: ./backend/**/publish


  build_frontend:
    runs-on: ubuntu-latest
    environment: production

    steps:
    - uses: actions/checkout@v4

    - name: Build frontend
      run: npm install && npm run build
      working-directory: ./frontend

    - name: Upload frontend artifact
      uses: actions/upload-artifact@v4
      with:
        name: frontend-build
        path: ./frontend/dist
